html, body {
    margin: 0;
    padding: 0;
    background-image: url('../img/acai-background-blurred.png');
    background-size: cover;
}
/* Add #9d6e25 as hover color */
/*Navigation bar styling starts here */
#nav-logo {
    width: 7%;
    height: 7%;
    display: inline-flex;
    float: left;
    margin: 10px auto 20px;
    margin-left: 2em;
    margin-right: 2em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 50px;
    text-align: center;
}

nav {
   padding-bottom: 10px;
   color: #fff;
   overflow: hidden;
   font-family: 'Signika', sans-serif;
}

nav ul {
   color: #1b1b1b;
   padding: 30px;
   text-decoration: none;
   font-size: 30px;
   margin-bottom: 5em;
   width: 100%;
   background: #cccac8;
}

nav ul:first-of-type {
    border-bottom: 1px solid #fff;
}

nav a {
    text-decoration: none;
    color: #1b1b1b;
}

nav:hover, nav:active {
   color: #9d6325;
}

nav:link, nav:visited {
    color: #9d6325;
}

nav:hover, nav a:hover, nav a:active {
   color: #9d6325;
   transition: 0.5s;
}

ul {
   text-decoration: none;
   list-style: none;
   margin: 0;
   padding: 0;
   word-spacing: 30px;
   font-family: 'Signika', sans-serif;
   font-size: 25px;
   transition: .5s;
}

/* Applies to Shop link */
li {
    position: relative;
    text-decoration: none;
    list-style: none;
    display: inline;
    color: #1b1b1b;
    cursor: pointer;
    transition: .5s;
}

#main-nav ul ul {
    position: absolute;
    display: none;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 100%;
}

#main-nav ul ul ul {
    left: 100%;
    top: 0;
}

#main-nav li:hover > ul {
    visibility: visible;
    opacity: 1;
    display: block;
    border-bottom: none;
    background: #999;
}

/* Navigation bar styling ends here*/

#outline-text {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px white;
    letter-spacing: -2px;
}

/* Login Form styling */
#login-form {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: 100px;
    height: 400px;
    width: 400px;
    background: transparent;
    background-color: #1b1b1b;
    border-radius: 4px;
    box-shadow: 1px 2px 3px #383737;
}

/* Formatting text size */

select,
text,
input[type="password"],
input[type="email"],
input[type="text"] {
    height: 40px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
}

/* Formatting the color of text area */
select,
text,
input[type="password"],
input[type="email"],
input[type="text"] {
    height: 40px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border: solid 2px #801920;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 10px;
    color: #ffe4c4;
}

/* Formats transition of text area */
select,
text,
input[type="password"],
input[type="email"],
input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-transition: background-position .5s,
    background-color .5s,
    border-color .5s,
    box-shadow .5s;
    transition: background-position .5s,
    background-color .5s,
    border-color .5s,
    box-shadow .5s;
}

/* Formats when text area is hovered and clicked */
select:hover,
text:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="text"]:hover {
    border: 2px solid #ffc4d1;
    background-color: #cccac8;
    color: #801920;
}

select:focus,
text:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus {
    border: 2px solid #ffe4c4;
    color: #ffe4c4;
}

#login-container {
    position: relative;
    top: 5%;
    height: 60%;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}


/* Submit button */

.submit-btn {
    text-overflow: ellipsis;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    margin: 5px 0;
    padding: 5px 20px 2px 20px;
    font-size: 18px;
    line-height: 20px;
    height: 30px;
    background-color: #363b2f;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0px 2px #383737;
    -webkit-transition: background-position .2s,
    background-color .2s,
    border-color .5s,
    box-shadow .5s;
    transition: background-position .2s,
    background-color .2s,
    border-color .5s,
    box-shadow .5s;
}

.submit-btn.active,
.submit-btn:active {
    padding: 5px 20px 2px 20px;
    background-color: #3b5e0a;
    box-shadow: 0px 5px #383737;
}

.submit-btn.disabled:active,
.submit-btn[disabled]:active,
.submit-btn.disabled.active,
.submit-btn[disabled].active {
    padding: 6px 20px !important;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color:  #3b5e0a;
    color: #fff;
    border: 0;
    box-shadow: 0 5px 5px #0000004d, 0 0 0 1px #ffffff26 inset;
}

.btn-primary {
    background-color: #363b2f;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0px 2px #5a5959;
    -webkit-transition: background-position .2s,
    background-color .2s,
    border-color .5s,
    box-shadow .5s;
    transition: background-position .2s,
    background-color .2s,
    border-color .5s,
    box-shadow .5s;
    box-shadow: 0 2px 2px #0000004d, 0 0 0 1px #ffffff26 inset;
}

.btn-block {
    width: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
}

/* Input validation */
input.invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus.invalid {
    outline: none;
}

.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: #fff;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

p {
    font-family: 'Signika', sans-serif;
    color: #fff;
}
