html, body {
    margin: 0;
    padding: 0;
}

/*Navigation bar stylign starts here */
.navbar img {
    width: 5%;
    height: 5%;
    display: inline-flex;
    float: left;
    margin: 10px auto 20px;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 50px;
    text-align: center;
}

#outline-text {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #fff;
    letter-spacing: -2px;
}

nav {
   padding-bottom: 10px;
   color: #fff;
}

.navbar {
   overflow: hidden;
   font-family: 'Signika', sans-serif;
   border-bottom: 2px solid #000;
   background-color: #cccac8;
}

.navbar a {
   float: left;
   color: #fff;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 30px;
}

.navbar:hover {
   opacity: 1;
   color: #fff;
}

.dropdown {
   float: left;
   overflow: hidden;
}

.dropdown .dropbtn {
   font-size: 30px;
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: 'Signika', sans-serif;
}

.navbar a:hover, .dropdown:hover .dropbtn {
   color: #000;
}

nav:hover, nav a:hover, nav a:active {
   color: #fff;
   transition: 0.5s;
   opacity: 1;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1; 
}

.dropdown-content a {
   float: none;
   color: #000;
   padding: 12px 6px;
   text-decoration: none;
   display: block;
   text-align: left;
}
 
.dropdown-content a:hover {
   background-color: #ddd;
}

.dropdown:hover .dropdown-content {
   display: block;
}

.dropbtn {
   cursor: pointer;
}

nav ul li {
   text-decoration: none;
   list-style: none;
   display: inline;
}

ul {
   text-decoration: none;
   list-style: none;
   margin: 0;
   padding: 0;
   word-spacing: 30px;
   font-family: 'Signika', sans-serif;
   font-size: 25px;
   color: #fff;
   transition: .5s;
   opacity: 0.7;
}

ul a {
   text-decoration: none;
   list-style: none;
   color: #000;
}

ul a:focus {
   color: #000;
}

/* Navigation bar styling ends here*/

#bookings {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    width: 500px;
    height: 100px;
    color: #fff;
}

#bookings-container {
    display: block;
    background-color: #383737;
    height: 400px;
    width: 400px;
    border-radius: 2px;
}

.booking-box {
    width: 150px;
    height: 30px;
    border: 2px solid #801920;
    border-radius: 2px;
}

form {
    margin-left: 20px;
}

/* Button formatting */

.submit-btn {
    text-overflow: ellipsis;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    margin: 5px 0;
    padding: 5px 20px 2px 20px;
    font-size: 18px;
    line-height: 20px;
    height: 30px;
    background-color: #363b2f;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0px 2px #383737;
    -webkit-transition: background-position .2s,
    background-color .2s,
    border-color .5s,
    box-shadow .5s;
    transition: background-position .2s,
    background-color .2s,
    border-color .5s,
    box-shadow .5s;
}

.submit-btn.active,
.submit-btn:active {
    padding: 5px 20px 2px 20px;
    background-color: #580505;
    box-shadow: 0px 5px #383737;
}

.submit-btn.disabled:active,
.submit-btn[disabled]:active,
.submit-btn.disabled.active,
.submit-btn[disabled].active {
    padding: 6px 20px !important;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color:  #580505;
    color: #fff;
    border: 0;
    box-shadow: 0 5px 5px #0000004d, 0 0 0 1px #ffffff26 inset;
}

.btn-primary {
    background-color: #912828;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0px 2px #5a5959;
    -webkit-transition: background-position .2s,
    background-color .2s,
    border-color .5s,
    box-shadow .5s;
    transition: background-position .2s,
    background-color .2s,
    border-color .5s,
    box-shadow .5s;
    box-shadow: 0 2px 2px #0000004d, 0 0 0 1px #ffffff26 inset;
}

.btn-block {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
}

