html, body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url('../img/lemon-cheese-tart.jpeg');
}

/*Navigation bar stylign starts here */
#nav-logo {
    width: 7%;
    height: 7%;
    display: inline-flex;
    float: left;
    margin: 10px auto 20px;
    margin-left: 2em;
    margin-right: 2em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding-top: 25px;
}

nav {
   padding-bottom: 10px;
   color: #fff;
   overflow: hidden;
   font-family: 'Signika', sans-serif;
}

nav ul {
   color: #1b1b1b;
   padding: 30px;
   text-decoration: none;
   font-size: 30px;
   margin-bottom: 5em;
   width: 100%;
   background: #cccac8;
}

nav ul:first-of-type {
    border-bottom: 1px solid #fff;
}

nav a {
    text-decoration: none;
    color: #1b1b1b;
}

nav:hover, nav:active {
   color: #9d6325;
}

nav:link, nav:visited {
    color: #9d6325;
}

nav:hover, nav a:hover, nav a:active {
   color: #9d6325;
   transition: 0.5s;
}

ul {
   text-decoration: none;
   list-style: none;
   margin: 0;
   padding: 0;
   word-spacing: 30px;
   font-family: 'Signika', sans-serif;
   font-size: 25px;
   transition: .5s;
}

/* Applies to Shop link */
li {
    position: relative;
    text-decoration: none;
    list-style: none;
    display: inline;
    color: #1b1b1b;
    cursor: pointer;
    transition: .5s;
}

#main-nav ul ul {
    position: absolute;
    display: none;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 100%;
}

#main-nav ul ul ul {
    left: 100%;
    top: 0;
}

#main-nav li:hover > ul {
    visibility: visible;
    opacity: 1;
    display: block;
    border-bottom: none;
    background: #999;
}

/* Navigation bar styling ends here*/

#outline-text {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px white;
    letter-spacing: -2px;
}

#bookings-container {
    display: block;
    background-color: #383737;
    height: 400px;
    width: 400px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    box-shadow: 1px 2px 3px #383737;
}

.booking-box {
    width: 150px;
    height: 30px;
    border: 2px solid #801920;
    border-radius: 4px;
}

form {
    margin-left: 20px;
}

label {
    font-family: 'Signika', sans-serif;
    font-size: 15px;
    color: #fff;
}

/* Button formatting */

.submit-btn {
    text-overflow: ellipsis;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    margin: 5px 0;
    padding: 5px 20px 2px 20px;
    font-size: 18px;
    line-height: 20px;
    height: 30px;
    background-color: #363b2f;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0px 2px #383737;
    -webkit-transition: background-position .2s,
    background-color .2s,
    border-color .5s,
    box-shadow .5s;
    transition: background-position .2s,
    background-color .2s,
    border-color .5s,
    box-shadow .5s;
}

.submit-btn.active,
.submit-btn:active {
    padding: 5px 20px 2px 20px;
    background-color: #580505;
    box-shadow: 0px 5px #383737;
}

.submit-btn.disabled:active,
.submit-btn[disabled]:active,
.submit-btn.disabled.active,
.submit-btn[disabled].active {
    padding: 6px 20px !important;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color:  #580505;
    color: #fff;
    border: 0;
    box-shadow: 0 5px 5px #0000004d, 0 0 0 1px #ffffff26 inset;
}

.btn-primary {
    background-color: #912828;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0px 2px #5a5959;
    -webkit-transition: background-position .2s,
    background-color .2s,
    border-color .5s,
    box-shadow .5s;
    transition: background-position .2s,
    background-color .2s,
    border-color .5s,
    box-shadow .5s;
    box-shadow: 0 2px 2px #0000004d, 0 0 0 1px #ffffff26 inset;
}

.btn-block {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
}

footer {
    padding: 100px;
    font-family: 'Signika', sans-serif;
    background-color: #1b1b1b;
    color: #fff;
    clear: both;
    font-size: 20px;
}

footer > a {
    color: #9d6325;
}