html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #1b1b1b;
}

/* Navigation bar styling starts here */
.navbar img {
    width: 5%;
    height: 5%;
    display: inline-flex;
    float: left;
    margin: 10px auto 20px;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 50px;
    text-align: center;
}

#outline-text {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #fff;
    letter-spacing: -2px;
}

nav {
   padding-bottom: 10px;
   color: #fff;
}

.navbar {
   overflow: hidden;
   font-family: 'Signika', sans-serif;
   border-bottom: 2px solid #000;
   background-color: #cccac8;
}

.navbar a {
   float: left;
   color: #fff;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 30px;
}

.navbar:hover {
   opacity: 1;
   color: #fff;
}
.selection-container {
    display: grid;
}

.selection-container > div:nth-child(2) {
    margin-left: auto;
}

h2::before {
    display: block;
    content: "";
    margin-top: -285px;
    height: 285px;
    visibility: hidden;
    pointer-events: none;
}

.first-section, .second-section, .third-section {
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(auto, 10em)) 1fr;
}

.img-bg {
    width: 100%;
    height: 50%;
}

.img-content {
    width: 100%;
    height: 50%;
}

p {
    font-size: 14px;
}
