html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #1b1b1b;
}

/*Navigation bar styling starts here */
#nav-logo {
    width: 7%;
    height: 7%;
    display: inline-flex;
    float: left;
    margin: 10px auto 20px;
    margin-left: 2em;
    margin-right: 2em;
}

nav {
   padding-bottom: 10px;
   color: #fff;
   overflow: hidden;
   font-family: 'Signika', sans-serif;
}

nav ul {
   color: #1b1b1b;
   padding: 30px;
   text-decoration: none;
   font-size: 30px;
   margin-bottom: 5em;
   width: 100%;
   background: #cccac8;
}

nav ul:first-of-type {
    border-bottom: 1px solid #fff;
}

nav a {
    text-decoration: none;
    color: #1b1b1b;
}

nav:hover, nav:active {
   color: #9d6325;
}

nav:link, nav:visited {
    color: #9d6325;
}

nav:hover, nav a:hover, nav a:active {
   color: #9d6325;
   transition: 0.5s;
}

ul {
   text-decoration: none;
   list-style: none;
   margin: 0;
   padding: 0;
   word-spacing: 30px;
   font-family: 'Signika', sans-serif;
   font-size: 25px;
   transition: .5s;
}

/* Applies to Shop link */
li {
    position: relative;
    text-decoration: none;
    list-style: none;
    display: inline;
    color: #1b1b1b;
    cursor: pointer;
    transition: .5s;
}

#main-nav ul ul {
    position: absolute;
    display: none;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 100%;
}

#main-nav ul ul ul {
    left: 100%;
    top: 0;
}

#main-nav li:hover > ul {
    visibility: visible;
    opacity: 1;
    display: block;
    border-bottom: none;
    background: #999;
}

/* Navigation bar styling ends here*/


h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Signika', sans-serif;
    color: #fff;
    font-size: 20px;
}

.selection-container {
    margin-bottom: 5em;
}

.selection-container > ul {
    color: #cccac8;
    margin-left: 2em;
}

.selection-container > div:nth-child(2) {
    margin-left: auto;
}

h2::before {
    display: block;
    content: "";
    margin-top: -285px;
    height: 285px;
    visibility: hidden;
    pointer-events: none;
}

.first-section, .second-section, .third-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.img-bg {
    width: 100%;
    height: 100%;
}

.banner {
    min-height: 450px;
}

.banner #first-img {
    background: #333 url('../img/lunch-background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.7;
}

.banner #second-img {
    background: #333 url('../img/breakfast.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.7;
}

.banner #third-img {
    background: #333 url('../img/choose-your-smoothie.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.7;
}

.img-content {
    width: 100%;
    height: 50%;
}

p {
    font-family: 'Signika', sans-serif;
    font-size: 24px;
    color: #fff;
}
