#nav-logo {
    width: 15%;
    height: 15%;
    display: inline-flex;
    float: left;
    margin: 10px auto 20px;
    margin-left: 20px;
}

h1 {
    font-family: 'Montserrat', serif;
    color: #fff;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
}

html, body {
    background: #cccac8;
    margin: 0;
    padding: 0;
}

nav {
   padding-bottom: 10px;
   color: #fff;
   overflow: hidden;
   font-family: 'Signika', sans-serif;
}

nav ul {
   color: #1b1b1b;
   padding: 30px;
   text-decoration: none;
   font-size: 30px;
   margin-bottom: 5em;
   width: 100%;
}

nav ul:first-of-type {
    border-bottom: 1px solid #fff;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav:hover, nav:active {
   color: #9d6325;
}

nav:link, nav:visited {
    color: #1b1b1b;
}

nav:hover, nav a:hover, nav a:active {
   color: #9d6325;
   transition: 0.5s;
}

ul {
   text-decoration: none;
   list-style: none;
   margin: 0;
   padding: 0;
   word-spacing: 30px;
   font-family: 'Signika', sans-serif;
   font-size: 25px;
   transition: .5s;
}

/* Applies to Shop link */
li {
    position: relative;
    text-decoration: none;
    list-style: none;
    display: inline;
    color: #1b1b1b;
    cursor: pointer;
    transition: .5s;
}

#main-nav ul ul {
    position: absolute;
    display: none;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 100%;
}

#main-nav ul ul ul {
    left: 100%;
    top: 0;
}

#main-nav li:hover > ul {
    visibility: visible;
    opacity: 1;
    display: block;
    border-bottom: none;
    background: #999;
    margin-bottom: 5em;
}

#logo-panel {
   margin: 0;
   background-image: url('../img/cover-background-darker.png');
   width: 100%;
   max-height: none;
   min-height: 1200px;
   z-index: 1;
   background-position: center;
   background-size: cover;
   position: relative;
}

#logo-panel img {
    height: 50%;
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#main-logo {
    height: 80%;
    width: 80%;
    margin: auto;
    padding: 0px 80px;
    position: relative;
    box-sizing: border-box;
    display: block;
}

#main-logo img {
    display: block;
    margin: 150px auto 0;
}

p {
    padding: 0 300px;
    font-size: 25px;
    color: #383737;
}

p, ol {
    font-family: 'Signika', sans-serif;
}

#browse-button {
    height: 50px;
    width: 140px;
    border: 2px solid #801920;
    background-color: #801920;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 45%;
    margin-bottom: 10%;
    cursor: pointer;
    transition: .3s ease;
}

#browse-button:hover, #browse-button:active {
    background-color: #ffc4d1;
    border: 2px solid #ffc4d1;
    color: #000;
}

footer {
    padding: 100px;
    font-family: 'Signika', sans-serif;
    background-color: #1b1b1b;
    color: #fff;
}

@media screen and (min-width: 1400px) {
    #main-info {
        padding: 100px;
    }
}

@media screen and (min-width: 920px) {
    #main-logo img {
        display: block;
        height: 80%;
        width: 80%;
    }
}
